<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Squitter</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#8548a7">
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>
    <header>
    <nav class="navbar navbar-default" id="menu">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Squitter" src="/images/squitter.png">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Aircraft</a></li>
          <li><a href="/map">Live Map</a></li>
          <li><a href="#">Stats</a></li>
        </ul>
        <a id="nerves-badge" class="pull-right" href="http://www.nerves-project.org" target="_new">
          <img alt="Powered by Nerves" src="/images/nerves-badge.png">
        </a>
      </div>
    </nav>
    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
