<script>
  var SITE_LOCATION = <%= Poison.encode! site_location() %>
</script>
<div class="col-lg-8" id="live-map"></div>
<div class="col-lg-4" id="sidebar">
  <table id="aircraft-table" class="table table-striped table-condensed"></table>
</div>
